@model List<ProductDisplay>

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Shop </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-95 pb-100">
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(Context.Request.Query["query"]))
        {
            <h3>Search Results for: "@Context.Request.Query["query"]"</h3>
        }
        <div class="row flex-row-reverse">
            <div class="col-lg-12">
                <div class="shop-top-bar mb-35">
                    <div class="select-shoing-wrap">
                        <div class="shop-select">
                            <select>
                                <option value="">Sort by newness</option>
                                <option value="">A to Z</option>
                                <option value=""> Z to A</option>
                                <option value="">In stock</option>
                            </select>
                        </div>
                        <p>Showing 1–12 of 20 result</p>
                    </div>
                    <div class="filter-active">
                        <a href="#"><i class="fa fa-plus"></i> filter</a>
                    </div>
                </div>
                <div class="product-filter-wrapper">
                    <div class="row">
                        <!-- Product Filter -->
                        <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                            <div class="product-filter">
                                <h5>Sort by</h5>
                                <ul class="sort-by">
                                    <li><a href="#">Default</a></li>
                                    <li><a href="#">Popularity</a></li>
                                    <li><a href="#">Average rating</a></li>
                                    <li><a href="#">Newness</a></li>
                                    <li><a href="#">Price: Low to High</a></li>
                                    <li><a href="#">Price: High to Low</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Product Filter -->
                        <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                            <div class="product-filter">
                                <h5>color filters</h5>
                                <ul class="color-filter">
                                    <li><input type="checkbox" value=""> <a href="#">Black</a></li>
                                    <li><input type="checkbox" value=""> <a href="#">Brown</a></li>
                                    <li><input type="checkbox" value=""> <a href="#">Orange</a></li>
                                    <li><input type="checkbox" value=""> <a href="#">red</a></li>
                                    <li><input type="checkbox" value=""> <a href="#">Yellow</a></li>
                                    <li><input type="checkbox" value=""> <a href="#">purple</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Product Filter -->
                        <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                            <div class="product-filter">
                                <h5>product tags</h5>
                                <div class="product-tags">
                                    <ul>
                                        <li><a href="#">New</a></li>
                                        <li><a href="#">brand</a></li>
                                        <li><a href="#">black</a></li>
                                        <li><a href="#">white</a></li>
                                        <li><a href="#">chire</a></li>
                                        <li><a href="#">table</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Product Filter -->
                        <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                            <div class="product-filter">
                                <h5>Filter by price</h5>
                                <div class="price-filter mt-25">
                                    <div class="price-slider-amount">
                                        <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                    </div>
                                    <div id="slider-range"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop-bottom-area">
                    <div class="row">
                        @if (Model.Count == 0)
                        {
                            <p>No products found.</p>
                        }
                        else
                        {
                            @foreach(var product in Model)
                            {
                                decimal productPrice = product.SellPrice - (product.SellPrice * product.Discount/100);
                                decimal? discount = product.Discount > 0 ? product.Discount : null;
                                <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a asp-action="ProductDetails" asp-route-productId="@product.ProductId">
                                                <img class="default-img" src="@product.ImageUrl" alt="">
                                                @* <img class="hover-img" src="@product.ImageUrl" alt=""> *@
                                            </a>
                                            @if(discount>0 || discount!=null){
                                                <span class="pink">-@discount%</span>
                                            }
                                            <div class="product-action">
                                                <div class="pro-same-action pro-wishlist">
                                                    @if (product.IsInWishlist)
                                                    {
                                                        <a title="Remove from wishlist" asp-controller="Wishlist" asp-action="Remove" asp-route-productId="@product.ProductId"><i class="fa-solid fa-heart"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a title="Add to Wishlist" asp-controller="Wishlist" asp-action="Add" asp-route-productId="@product.ProductId"><i class="fa-regular fa-heart"></i></a>
                                                    }
                                                </div>
                                                <div class="pro-same-action pro-cart">
                                                    @if (product.CartQuantity > 0)
                                                    {
                                                        <a title="Remove from Cart" asp-controller="Cart" asp-action="Remove" asp-route-productId="@product.ProductId"><i class="pe-7s-cart"></i> Remove from cart</a>
                                                    }
                                                    else
                                                    {
                                                        <a title="Add To Cart" asp-controller="Cart" asp-action="Add" asp-route-productId="@product.ProductId"><i class="pe-7s-cart"></i> Add to cart</a>
                                                    }
                                                </div>
                                                <div class="pro-same-action pro-quickview">
                                                    <a title="Quick View" data-toggle="modal" data-target="#modal-@product.ProductId"><i class="pe-7s-look"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a asp-controller="Shop" asp-action="ProductDetails" asp-route-productId="@product.ProductId">@product.Name</a></h3>
                                            <div class="product-rating">
                                                @for(int i=0;i<product.AverageRating;i++)
                                                {
                                                    <i class="fa fa-star-o yellow"></i>
                                                }
                                                @for(int i=(int)product.AverageRating; i<5;i++)
                                                {
                                                    <i class="fa fa-star-o"></i>
                                                }
                                            </div>
                                            <div class="product-price">
                                                <span>₹ @Math.Round(productPrice, 2)</span>
                                                <span class="old">₹ @Math.Round(product.SellPrice, 2)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="modal-@product.ProductId" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                                        <div class="tab-content quickview-big-img">
                                                            <div id="pro-1" class="tab-pane fade show active">
                                                                <img src="@product.ImageUrl" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                                        <div class="product-details-content quickview-content">
                                                            <h2>@product.Name</h2>
                                                            <div class="product-details-price">
                                                                <span>₹ @Math.Round(productPrice, 2)</span>
                                                                <span class="old">₹ @Math.Round(product.SellPrice, 2)</span>
                                                            </div>
                                                            <div class="pro-details-rating-wrap">
                                                                <div class="pro-details-rating">
                                                                    @for (int i = 0; i < product.AverageRating; i++)
                                                                    {
                                                                        <i class="fa fa-star-o yellow"></i>
                                                                    }
                                                                    @for (int i = (int)product.AverageRating; i < 5; i++)
                                                                    {
                                                                        <i class="fa fa-star-o"></i>
                                                                    }
                                                                </div>
                                                                <span>@product.reviewCount Reviews</span>
                                                            </div>
                                                            <p>@Html.Raw(product.ShortDescription)</p>
                                                            <form method="post">
                                                                <div class="pro-details-quality">
                                                                    @if (product.CartQuantity > 0)
                                                                    {
                                                                        <div class="cart-plus-minus">
                                                                            <input class="cart-plus-minus-box" name="CartItem.quantity" value="@product.CartQuantity">
                                                                        </div>
                                                                        <div class="pro-details-cart btn-hover">
                                                                            <input type="hidden" name="CartItem.productId" value="@product.ProductId" />
                                                                            <button type="submit" asp-action="Update" asp-controller="Cart">Update Cart</button>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="cart-plus-minus">
                                                                            <input class="cart-plus-minus-box" name="quantity" value="1">
                                                                        </div>
                                                                        <div class="pro-details-cart btn-hover">
                                                                            <input type="hidden" name="productId" value="@product.ProductId" />
                                                                            <button type="submit" asp-action="Add" asp-controller="Cart" formmethod="get">Add To Cart</button>
                                                                        </div>
                                                                    }

                                                                    <div class="pro-details-wishlist">
                                                                        @if (product.IsInWishlist)
                                                                        {
                                                                            <a title="Remove from wishlist" asp-controller="Wishlist" asp-action="Remove" asp-route-productId="@product.ProductId"><i class="fa-solid fa-heart"></i></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a title="Add to Wishlist" asp-controller="Wishlist" asp-action="Add" asp-route-productId="@product.ProductId"><i class="fa-regular fa-heart"></i></a>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </form>

                                                            <div class="pro-details-meta">
                                                                <span>Category :</span>
                                                                <ul>
                                                                    <li><a href="#">@product.CategoryName</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="pro-pagination-style text-center mt-30">
                        <ul>
                            <li><a class="prev" href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a class="next" href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>