@model OrderHeader
@{
   var OrderStatusList = new SelectList(Enum.GetValues(typeof(OrderStatus)));
}
<div class="row">
    <div class="col-md-9 page-header">
        <h3 class="fw-bold mb-3">Order Details</h3>
        <ul class="breadcrumbs mb-3 d-flex align-items-center">
            <li class="nav-home">
                <a asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator"><i class="icon-arrow-right"></i></li>
            <li class="nav-item">
                <a asp-controller="Order" asp-action="Index">Orders</a>
            </li>
            <li class="separator"><i class="icon-arrow-right"></i></li>
            <li class="nav-item">Order Details</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-2">Order #@Model.OrderId</h4>
                @* <p class="mb-2"><strong>Order Status:</strong> @Model.OrderStatus *@
                @* </p> *@
                <p class="mb-2"><strong>Placed On:</strong> @DateOnly.FromDateTime(Model.OrderDate)</p>
                <form asp-action="UpdateOrderStatus" method="post">
                    <input hidden asp-for="OrderId" />
                    <label asp-for="OrderStatus" class="form-label">Order Status</label>
                    <div class="row">
                        <div class="col-3">
                            <select asp-for="OrderStatus" asp-items="OrderStatusList" class="form-control ">
                                <option value="">-- Select Status --</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
        <div class="row">
            <!-- User Details -->
            <div class="col-xl-4"> 
                    <div class="card"> 
                        <div class="card-body"> 
                        <h5 class="mb-2">User Details</h5>
                        <div class="row">
                            <div class="col-4 mb-2">Full Name:</div> <div class="col-8">@Model.User.FullName</div>
                            <div class="col-4 mb-2">Email:</div> <div class="col-8">@Model.User.Email</div>
                    <div class="col-4 mb-2">Phone:</div> <div class="col-8">@Model.User.Phone</div>
                        </div> 
                    </div> 
                </div>
            </div>

            <!-- Shipping Address -->
            <div class="col-xl-4">
                    <div class="card"> 
                        <div class="card-body"> 
                        <h5 class="mb-3">Shipping Address</h5>
                        <div class="mb-2">@Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName</div>
                        <div class="mb-2">@Model.ShippingAddress.Region</div>
                        <div class="mb-2">@Model.ShippingAddress.City, @Model.ShippingAddress.State</div>
                        <div class="mb-2">Pin: @Model.ShippingAddress.PinCode</div>
                <div class="mb-2">Phone: @Model.ShippingAddress.Phone</div>
                        </div> 
                    </div> 
            </div>

            @* Uncomment this if you want to include the billing address *@
            @* @if (Model.BillingAddressId.HasValue) *@
            @* { *@
            @*     <div class="col-xl-4"> *@
            @*         <div class="card"> *@
            @*             <div class="card-body"> *@
            @*                 <h5 class="mb-2">Billing Address</h5> *@
            @*                 <div class="mb-2">@Model.BillingAddress.FirstName @Model.BillingAddress.LastName</div> *@
            @*                 <div class="mb-2">@Model.BillingAddress.Region</div> *@
            @*                 <div class="mb-2">@Model.BillingAddress.City, @Model.BillingAddress.State</div> *@
            @*                 <div class="mb-2">Pin: @Model.BillingAddress.PinCode</div> *@
            @*                 <div class="mb-2">Phone: @Model.BillingAddress.Phone</div> *@
            @*             </div> *@
            @*         </div> *@
            @*     </div> *@
            @* } *@
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Ordered Items</h5>
                </div>
                <div class="card-body">
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Unit Price</th>
                                <th>Qty</th>
                                <th>Subtotal</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderDetail in Model.OrderDetails)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Shop" asp-action="ProductDetails" asp-route-productId="@orderDetail.ProductId">
                                            <img width="75" src="@orderDetail.Product.ImageUrl" alt="@orderDetail.Product.Name">
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-controller="Shop" asp-action="ProductDetails" asp-route-productId="@orderDetail.ProductId">
                                            @orderDetail.Product.Name
                                        </a>
                                    </td>
                                    <td>₹@Math.Round(orderDetail.Price, 2)</td>
                                    <td>@orderDetail.Quantity</td>
                                    <td>₹@Math.Round(orderDetail.Quantity * orderDetail.Price, 2)</td>
                                    <td>₹@Math.Round(orderDetail.Quantity * orderDetail.Price, 2)</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="5" class="text-end fw-bold">Subtotal</td>
                                <td>₹@Model.Subtotal</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-end fw-bold">Shipping Charge</td>
                                <td>₹@Model.ShippingCharge</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-end fw-bold">Total</td>
                                <td>₹@(Model.Subtotal + Model.ShippingCharge)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
