@model CartVM
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Cart Page </li>
            </ul>
        </div>
    </div>
</div>
<div class="cart-main-area pt-90 pb-100">
    <div class="container">

        @if (!Model.CartItems.Any())
        {
            <div class="empty-cart text-center pb-100">
                <h3>Your cart is empty!</h3>
                <p>It looks like you haven't added any items to your cart yet.</p>
                <img class="img-fluid w-25" src="~/Images/Empty Cart.jpg" /><br />
                <div class="cart-shiping-update">
                </div>
                <div class="product-action">
                    <a asp-controller="Shop" asp-action="Index" class="pro-same-action  mt-3">Go Back to Shopping</a>
                </div>
            </div>
        }
        else
        {
            <h3 class="cart-page-title">Your cart items</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cartItem in Model.CartItems)
                                {
                                    decimal price = cartItem.Product.SellPrice - (cartItem.Product.SellPrice * cartItem.Product.Discount / 100);
                                    <tr>
                                        <form asp-action="Update" method="post">
                                            <input hidden asp-for="@cartItem.ProductId" />
                                        <td class="product-thumbnail">
                                            <a asp-controller="Shop" asp-action="ProductDetails" asp-route-productId="@cartItem.ProductId">
                                                <img src="@cartItem.Product.ImageUrl" alt="@cartItem.Product.Name">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a asp-controller="Shop" asp-action="ProductDetails" asp-route-productId="@cartItem.ProductId">
                                                    @cartItem.Product.Name
                                            </a>
                                        </td>
                                        <td class="product-price-cart"><span class="amount">₹@Math.Round(price, 2)</span></td>
                                        <td class="product-quantity">
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" type="text" asp-for="@cartItem.Quantity" />
                                            </div>
                                        </td>
                                        <td class="product-subtotal">₹@Math.Round(cartItem.Quantity * price, 2)</td>
                                        <td class="product-remove">
                                            <button type="submit"><i class="fa fa-pencil"></i></button>
                                            <a asp-controller="Cart" asp-action="Remove" asp-route-productId="@cartItem.ProductId"><i class="fa fa-times"></i></a>
                                        </td>
                                        </form>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="#">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                    <button>Update Shopping Cart</button>
                                    <a href="#">Clear Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                        </div>
                        <div class="col-lg-4 col-md-6">
                            @* <div class="discount-code-wrapper"> *@
                            @*     <div class="title-wrap"> *@
                            @*         <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4> *@
                            @*     </div> *@
                            @*     <div class="discount-code"> *@
                            @*         <p>Enter your coupon code if you have one.</p> *@
                            @*         <form> *@
                            @*             <input type="text" required="" name="name"> *@
                            @*             <button class="cart-btn-2" type="submit">Apply Coupon</button> *@
                            @*         </form> *@
                            @*     </div> *@
                            @* </div> *@
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                </div>
                                <h5>Total products <span>₹@Math.Round(Model.Total, 2)</span></h5>
                                <h5>Shipping charge <span>₹@Math.Round(Model.ShippingCharge, 2)</span></h5>
                                <h4 class="grand-totall-title">Grand Total  <span>₹@Math.Round(Model.Total + Model.ShippingCharge, 2)</span></h4>
                                <a asp-controller="Order" asp-action="Checkout">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          }
    </div>
</div>